<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Flownami</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>
    </header>
