<article class="task">
  <h1><%= name %></h1>
  <select class="update-select" data-id=<%= id %>>
    <option>To Do</option>
    <option>Doing</option>
    <option>Done</option>
  </select>
</article>
