<%- include('../../partials/header'); %>

<main>
  <div>
    <h1>Add Task</h1>
    <form action="/tasks" method="post">
      <input type="input" name="taskName"/>
      <input type="submit" />
    </form>
  </div>
</main>

<%- include('../../partials/footer'); %>
