<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Flownami</title>
  </head>
  <body>
    <%- include('../partials/header'); %>

    <main>
      <div>
        <h1>Flownami</h1>
        <p>Welcome to templating using EJS</p>
      </div>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
