<%- include('../../partials/header'); %>

<main class="board">
  <a href="http://localhost:8080/tasks/new">Add Task</a>
  <ol class="columns">
    <% board.forEach(column => {%>
      <li>
        <%- include('../partials/column', column) %>
      </li>
    <% }) %>
  </ol>
</main>

<%- include('../../partials/footer'); %>
